#mainhead{
	width:100%;
	position:fixed;
	background-color:white;
	margin-left:-8px;
	
}
#header{
	width:980px;;
	height:90px;
	background-color:#F0F0F0;
	margin-left:auto;
	margin-right:auto;
	margin-top:-8px;
	
}
#logo{
	float:left;
	margin-left:30px;
	width:200px;
	height:30px;
	margin-top:30px;
}
#menu{
	width:525px;
	float:right;
	margin-right:12px;
     
}
#searchpanel{
	width:150px;
	height:22px;
	margin-top:2px;
	float:right;
	background-image:url('../../images/Resources/Search.png');
    background-repeat:no-repeat;
    background-position:right;
    padding-right:25px;
    font-size:15px;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana;
}
.menu-wrap{
     width:525px;
     float:right;
     margin-top:8px;	
}
.submenu{
	width:103px;
	height:50px;
	margin-left:2px;
	background-color:#E6E6E6;
	float:left;
	text-align:center;
	font-weight:bold;
}
.style1{
	font-weight:bold;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana;
	font-size:20px;
    color:#363636;
}
.style2{
	font-size:13px;
	font-family:"Segoe UI", Tahoma, Geneva, Verdana;
	color:#363636;
}
.search2{
	margin-top:0px;
}
.search{
	width:20px;
	height:20px;
	margin-bottom:0px;
}
.search:hover{
	cursor:pointer;
}
.style3{
	margin-top:13px;
}
.submenu:hover{
	cursor:pointer;
	background-color:#676767;
	color:white;
}
#logo:hover{
	cursor:pointer;
}
.img-style{
	width:240px;
	height:240px;
	float:left;
	margin-left:4px;
}

#image-wrap{
	width:980px;
	height:250px;
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}
#content{
	margin-left:auto;
	margin-right:auto;
	width:980px;
	margin-top:63px;
}
.line{
	width:980px;
	margin-left:auto;
	margin-right:auto;
}
#footer{
	width:980px;
	margin-left:auto;
	margin-right:auto;
	background-color:#E5E5E5;
	height:auto;
	border-left: 1px #B6B6B6 solid;
	border-right:1px #B6B6B6 solid;	
}
#company{
	width:150px;
	margin-left:20px;
	background-color:#E5E5E5;
	height:auto;
}
.comp-prof{
	width:200px;
	height:auto;
	margin-left:32px;
	float:left;
}
#footer2{
	width:980px;
	margin-left:auto;
	margin-right:auto;
	background-color:#E5E5E5;
	height:220px;
}
.style4{
	font-family:"Segoe UI", Tahoma, Geneva, Verdana;
	color:#111111;
	font-size:18px;	
	font-weight:bold;
}
.style5{
    font-family:"Segoe UI", Tahoma, Geneva, Verdana;
    font-size:16px; 
    color:#2E2E2E;
}
#comp-prof1{
}
.img-t1{
	width:35px;
	height:35px;
	margin-top:5px;
}
.style6{
    font-family:"Segoe UI", Tahoma, Geneva, Verdana;
    font-size:16px; 
    color:#2E2E2E;
    width:100px;
    float:right;
    margin-top:10px;
}
.style8{
	font-family:"Segoe UI", Tahoma, Geneva, Verdana;
    font-size:17px; 
    color:#2E2E2E;
    margin-left:40px;
    margin-top:0px;

}
#footer3{
	margin-left:20px;
}
#footer4{
	background-color:#363636;
	width:980px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	
}
.img-t2{
	width:20px;
	height:20px;
	margin-left:5px;
	margin-bottom:0px;
}
.style9{
    margin-left:5px;
    
    margin-top:10px;
    float:left;
	border-right:1px white solid;
}
#footer4-left{
	background-color:#363636;
	width:400px;
	margin-top:0px;
	float:left;
}
.style9:hover{
	cursor:pointer;
}
.style10{
    margin-left:5px;
    margin-top:10px;
    float:left;
}
.style11{
	color:#BCBCBC;
	font-size:14px;
}
.style10:hover{
	cursor:pointer;
}
::-webkit-scrollbar-track {
      background-color: white;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: black;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: #808080;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: black;
}
::-webkit-scrollbar {
      width: 13px;
} 
.signin{
	margin-right:0px;
}
#signup{
    width:250px;
    height:auto;;
    float:right;
    margin-right:0px;
    margin-right:3px;  
    display:none;
}
#sign-wrap{
	width:100%;
	z-index:5px;
	position:fixed;
	margin-top:62px;
}
#sign-wrap1{
	width:980px;
	margin-left:auto;
	margin-right:auto;
}
#fb-auth{
	width:200px;
	margin-left:10px;
}
#fb-auth:hover{
	cursor:pointer;
}
#authlabel{
  color:red;
  margin-left:5px;
  font-size:14px;
}
#detail{
    width:220px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.img-t4{
	width:980px;
	height:550px;
}
.style12{
	font-family:"Segoe UI", Tahoma, Geneva, Verdana;
	color:#4B4B4B;
}
.arrow-nub{
	float:right;
	width:10px;
	margin-right: 50px;
    margin-top: -10px;
}
#login-prof{
	width:240px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-16px;
	height:auto;
    border:1px #B6B6B6 solid;
    background-color:#F0F0F0;
}
.img-t3{
	height:10px;
	width:13px;
}
#login{
	width:80px;
	height:20px;
}
#login:hover{
	cursor:pointer;
}
body{
	font-family:"Segoe UI", Tahoma, Geneva, Verdana;
}